<h2 class="my-4">Add items to this list!</h2>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <div class="form-group">
    <%= f.association :movie, collection: Movie.all, label: "Movie:", prompt: "Choose a movie" %>
  </div>
  <div class="form-group">
    <%= f.input :comment, label: "Comment:" %>
  </div>
  <%= f.button :submit, "Add Item", class: "btn btn-primary" %>
<% end %>
